//Set all default to 0 
*{margin: 0;padding: 0;}

$grid-width: 				1200px;
$gutter-width: 			12px;					

$base-font-size:		16px;
$line-height:				1.2;

$font-family: 			"Helvetica Neue", Arial, Helvetica, sans-serif; 	
$code-font-family: 	monospace;


$title-font-weight:	400;
$H1-font-size: 			2rem;
$H2-font-size: 			1.8rem;
$H3-font-size: 			1.6rem;
$H4-font-size: 			1.4rem;
$H5-font-size: 			1.2rem;
$H6-font-size: 			1rem;

$border-radius: 		3px;

$text-font-size:		1rem;
$form-font-size:		0.9rem;

$color-blue: 				#4fade3;
$color-red: 				#d63632;
$color-green:				#5da423;
$color-grey: 				#ccc;


@import "mixin";
@import "helper";
@import "grid";
@import "typography";
@import "form";
@import "button";

*{
	margin: 0;
	padding: 0;
}

html{
	font-smooth:always;
	-webkit-font-smoothing:antialiased;
}


#first-loading{
	width:70px;
	height:20px;
	text-align: center;
	background: #eee;
	border-radius:3px;
	position: absolute;
	top:50%;
	left:50%;
	margin-left: -25px;
	margin-top: -25px;
}

.signup-box, .login-box{
	padding: $gutter-width;
	margin-top: 120px;
	background: #f2f2f2;
	border: 1px solid #ddd;
	border-radius:$border-radius;
	button[type="submit"]{
		margin-bottom: 0;
	}
}

nav.navigation{
	background: #f1f1f1;
	border-bottom: 1px solid #ddd;
	padding: 6px;
	ul{
		li{
			display: inline-block;
			vertical-align: middle;
			margin: 12px;
		}
	}
}


