<html>
<head>
	<meta charset="utf-8">
	<title>backbone test</title>
	<link type="text/css" rel="stylesheet" href="css/main.css">
	<link type="text/css" rel="stylesheet" href="scripts/vendor/jasmine/lib/jasmine-core/jasmine.css">
</head>
<body>
	
<!-- <div id="application" data-role="content"></div>
 -->
	<script data-main="scripts/test" src="scripts/vendor/requirejs/require.js"></script>
	</body>
</html>